@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: hsl(216, 53%, 9%);
}
/* ########### HEADER PART ##########*/

header, h1, h2, h3{
    font-family: 'Raleway', sans-serif;
}


header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4rem 6rem 0rem 6rem;
    background: hsl(217, 28%, 15%);
    border: 0;
}
header nav{
    width: 65%;
}
header figure{
    width: 35%;
}
header figure img{
    width: 45%;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
header nav ul li{
    padding-left: 4rem;
}
header nav ul li a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: hsl(0, 0%, 84%);
}
header nav ul li a:hover{
    transition: .25s ease-out;
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
}

/* ########### MAIN ##########*/

main{
    background: hsl(218, 28%, 13%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/* ########### SECTION BANNER ##########*/
main .banner{
    width: 100%;
    height: 1050px;
    background: url('../images/bg-curvy-desktop.svg') no-repeat hsl(217, 28%, 15%);
    background-size: contain;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main .banner .image{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40%;
    height: 70%;
}
main .banner .image img{
    width: 100%;
}
main .banner .content{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   width: 50%;
   text-align: center;
   height: 30%;
   margin-top: 2.5rem;
   margin-bottom: 12.1rem;
}
main .banner .content h1{
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    line-height: 3.5rem;
}
main .banner .content p{
    margin-top: 2rem;
    font-size: 1.2rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    padding: 0 4rem;
}
main .banner .content a{
    background: rgb(101,226,217);
    background: linear-gradient(90deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 160%);
    margin-top: 2.8rem;
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    padding: 1.1rem 5.7rem;
    text-decoration: none;
    border-radius: 50px;
}
main .banner .content a:hover{
    background: rgb(101,226,217);
}
/* ########### SECTION SERVICES ##########*/
main .service{
    width: 70%;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
main .service div{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7rem;   
}
main .service div:nth-child(1), div:nth-child(2){
    margin-bottom: 6rem;
}
main .service div div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
main .service .icon1{
    width: 84px;
    height: 100px;
    background: url('../images/icon-access-anywhere.svg') no-repeat;
}
main .service .icon2{
    width: 70px;
    height: 100px;
    background: url('../images/icon-security.svg') no-repeat;
}
main .service .icon3{
    width: 88px;
    height: 100px;
    background: url('../images/icon-collaboration.svg') no-repeat;
}
main .service .icon4{
    width: 94px;
    height: 100px;
    background: url('../images/icon-any-file.svg') no-repeat;
}
main .service div div h2{
    color: hsl(0, 0%, 100%);
    padding-top: .8rem;
    font-weight: 700;
    font-size: 1.5rem;
}
main .service div div p{
    color: #ddd;
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
}
main .service div div:nth-child(1) p{
    padding: 0 1.5rem;
    padding-top: 1rem;
}
main .service div div:nth-child(4) p{
    padding: 0 1.5rem;
    padding-top: 1rem;
}

/* ########### SECTION WORK-FLOW ##########*/

main .work-flow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 85%;
    margin-bottom: 8rem;
}
main .work-flow .image{
    width: 50%;
    height: 100%;
    background: url('../images/illustration-stay-productive.png') no-repeat;
    background-size: contain;
}
main .work-flow .content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 2rem;
    padding-bottom: 3rem;
}
main .work-flow .content h2{
    color: hsl(0, 0%, 100%);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding-right: 6rem;
}
main .work-flow .content p{
    color: #ddd;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 2rem;
}
main .work-flow .content a{
    color: hsl(176, 68%, 64%);
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    border-width: 0 0 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
main .work-flow .content a span{ 
    width: 15px;
    height: 15px;
    background: url('../images/icon-arrow.svg') no-repeat hsl(176, 68%, 64%);
    background-size: 100%;
    border-radius: 50px;
    margin-left: .5rem;
}
main .work-flow .content a:hover{
    transition: .35s ease-out;
    color: hsl(0, 0%, 100%);
}


/* ########### SECTION TESTIMONIALS ##########*/


main .testimonial{
    width: 91%;
    height: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
    background: url('../images/bg-quotes.png') no-repeat;
    background-position: 4% 0%;
    background-size: 4%;
    padding: 0 4rem;
}
  
main .testimonial article{
    width: 360px;
    height: 200px;
    background: hsl(219, 30%, 18%);
    border-radius: 2px;
    padding: 1.5rem 2rem 2rem 2rem;
    margin-top: 2.25rem;
    box-shadow: 8px 5px 5px hsl(217, 28%, 15%);
}
main .testimonial article div:nth-child(1){
    margin-bottom: 1rem;
}
main .testimonial article div:nth-child(2){
    display: flex;
    align-items: center;
}
main .testimonial article div:nth-child(1) p{
    padding-top: 1rem;
    font-weight: 400;
    font-size: .90rem;
}
main .testimonial article div .profile{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: .5rem;
}
main .testimonial article div .profile h3{
    font-weight: 700;
    font-size: .6rem;
    letter-spacing: .05rem;
    line-height: 1.5rem;
}
main .testimonial article div .profile p{
    font-weight: 400;
    font-size: .5rem;
    letter-spacing: .03rem;
}
main .testimonial article div img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-bottom: 6rem;
}

/* ########### SECTION NEWSLETTER ##########*/

main .newsletter{
    background: hsl(217, 28%, 15%);
    width: 58%;
    height: 280px;
    border-radius: 5px;
    position: relative;
    margin-bottom: -7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: hsl(0, 0%, 100%);
    box-shadow: 4px 5px 7px hsl(215, 55%, 6%); 
}
main .newsletter div:nth-child(1){
    padding: 0 3rem;
}
main .newsletter div:nth-child(1) h2{
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}
main .newsletter div:nth-child(1) p{
    font-size: .9rem;
    padding: 0 2rem;
}
main .newsletter form{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

main .newsletter form input{
    width: 62%;
    padding: .9rem 2rem;
    border-radius: 50px;
    outline-style: none;
    border-style: none;
    
}
main .newsletter form button{
    width: 20%;
    padding: .9rem 0;
    margin-left: 1.5rem;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    background: rgb(101,226,217);
    background: linear-gradient(90deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 160%);
    font-family: 'Raleway', sans-serif;
}
main .newsletter form button:hover{
    background: rgb(101,226,217);
}

/* ########### SECTION NEWSLETTER ##########*/

footer{
    width: 100%;
    background: hsl(216, 53%, 9%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0; 
}
footer .big-footer{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column; 
    margin: 0; 
    padding-left: 8rem;  
}
footer .big-footer figure img{
    width: 100%;
    margin-bottom: 2rem;
}
footer .big-footer .footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    color: hsl(0, 0%, 100%);
}
footer .big-footer .footer-content a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
footer .big-footer .footer-content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    opacity: .95;
    line-height: 1.5rem;
}
footer .big-footer .footer-content li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
footer .big-footer .footer-content div:nth-child(1){
    width: 30%;
    display: flex;
    align-items: flex-start;
}
footer .big-footer .footer-content div:nth-child(1) i{
    padding-top: .5rem;
    padding-right: 2rem;
    font-size: 1.3rem;
}
footer .big-footer .footer-content div:nth-child(2){
    width: 18%;
    margin-left: 4rem;
}
footer .big-footer .footer-content div:nth-child(2) ul li{
    margin-bottom: 1.7rem;
}
footer .big-footer .footer-content div:nth-child(2) i{
    padding-right: 1rem;
    font-size: 1.3rem;
}
footer .big-footer .footer-content div:nth-child(2) ul li a{
    opacity: .9;
}
footer .big-footer .footer-content div:nth-child(2) ul li a:hover, a:active{
    transition: .15s ease-out;
    opacity: 1;
    font-weight: 540;
}
footer .big-footer .footer-content div:nth-child(3){
    width: 8%;
    margin-left: 6rem;
}
footer .big-footer .footer-content div:nth-child(3) ul li{
    margin-bottom: 1rem;
}
footer .big-footer .footer-content div:nth-child(3) ul li a{
    opacity: .9;
}
footer .big-footer .footer-content div:nth-child(3) ul li a:hover, a:active{
    transition: .15s ease-out;
    opacity: 1;
    font-weight: 540;
}
footer .big-footer .footer-content div:nth-child(4){
    width: 10%;
    margin-left: 2rem;
}
footer .big-footer .footer-content div:nth-child(4) ul li{
    margin-bottom: 1rem;
}
footer .big-footer .footer-content div:nth-child(4) ul li a{
    opacity: .9;
}
footer .big-footer .footer-content div:nth-child(4) ul li a:hover, a:active{
    transition: .15s ease-out;
    opacity: 1;
    font-weight: 540;
}
footer .big-footer .footer-content div:nth-child(5){
    width: 10%;
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}
footer .big-footer .footer-content div:nth-child(5) a{
    text-align: center;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50px;
}
footer .big-footer .footer-content div:nth-child(5) a:hover, a:active{
    transition: .35s ease-out;
    color: hsl(176, 68%, 64%);
    border: 1px solid hsl(176, 68%, 64%);
}
footer .big-footer .footer-content div:nth-child(5) a:nth-child(1){
    padding: .5rem .7rem;
}
footer .big-footer .footer-content div:nth-child(5) a:nth-child(2){
    padding: .5rem .5rem;
    margin-left: .8rem;
}
footer .big-footer .footer-content div:nth-child(5) a:nth-child(3){
    padding: .5rem .6rem;
    margin-left: .8rem;
}

footer .attribution { 
    color: hsl(0, 0%, 100%); 
    font-size: 15px; 
    text-align: center; 
    width: 100%;
    margin-bottom: 1rem;
}
footer .attribution a { 
    color: crimson;
    text-decoration: none;
}